{% extends "icars/base.html" %}
{% block content %}
<h1>
    {{ estil.name }}
</h1>
<h2>Make:</h2>
<p>
    {{ estil.make.name }}, {{ estil.make.niceName }} <br/>
</p>

<h2>
    Model
</h2>
<ul>
    {% for model in estil.model.all %}
        <li><a href="{% url 'icars:model_detail' model.id 'html' %}">
            {{ model.name }}</a></li>
    {% empty %}<li>Sorry, model is not found.</li>
    {% endfor %}
</ul>
<h2>Year</h2>
<ul>
    {% for year in estil.year.all %}
      {{ estil.year.year }}<br/>
    {% endfor %}
</ul>

<h2>Submodel:</h2>
<p>
    {{ estil.submodel.modelName }}, {{ estil.submodel.niceName }}, <br/>
    {{ estil.submodel.body }}, {{ estil.submodel.fuel }}, <br/>
    {{ estil.submodel.tuner }} <br/>
</p>
{% endblock %}
